.bg-cta-primary {
  background: theme-color(cta-primary); }

.bg-cta-secondary {
  background: theme-color(cta-secondary); }

.targets {
  border-top: 40px solid #ed662cd1;
  border-bottom: 40px solid #ed662cd1;
  padding: 40px 15px;
  background: url(../img/bg_img.jpg) no-repeat center center;
  background-color: #ED662C;
  background-blend-mode: multiply;
  background-size: cover;
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  font-style: italic;
  background-repeat: no-repeat; }

.title_targets {
  text-align: center;
  font-size: 4vw;
  color: #ffffff;
  width: 86%;
  margin: 0 auto;
  text-transform: uppercase; }

.person_block {
  display: inline-block;
  vertical-align: top;
  margin-top: 8vw;
  padding: 0px;
  text-align: center; }

.targets_republican {
  display: inline-block;
  vertical-align: top;
  position: relative;
  cursor: pointer;
  padding: 5%;
  background: #fff;
  -webkit-box-shadow: 4px 4px 15px 0px #000000a1;
  -moz-box-shadow: 4px 4px 15px 0px #000000a1;
  box-shadow: 4px 4px 15px 0px #000000a1; }
  .targets_republican img {
    max-width: 100%; }

.person_name {
  margin-top: 6vw;
  text-align: center;
  color: #ffffff;
  margin-top: 40px;
  font-size: 1vw; }

.first_group_person {
  font-size: 0px; }

@media (max-width: 992px) {
  .targets .person_block .person_name {
    margin-top: 20px;
    font-size: 2vw;
    min-height: 17px;
    overflow: hidden; } }
@media (max-width: 767px) {
  .targets .person_block .person_name {
    margin-top: 15px;
    font-size: 3vw;
    min-height: 17px;
    overflow: hidden; } }

/*# sourceMappingURL=style.css.map */
